<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
<head>
{% block head %}
  <title>{% block head-title %}Dist2Airport{% endblock %}</title>
  <link rel="shortcut icon" href="{{STATIC_URL}}core/img/icons/asterisk.png" type="image/ico" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="{% block head-charset %}utf-8{% endblock %}" />
  <meta name="viewport"     content="width=device-width, initial-scale=1, maximum-scale=1"/>

  <meta name="keywords"     content="" />
  <meta name="description"  content="" />

  <!-- Meta for Facebook like button -->
  <!-- Refer http://developers.facebook.com/docs/opengraph/objects/builtin/ for more OpenGraph properties -- >
  <meta property="og:type"      content="Website" />
  <meta property="og:image"     content=""/>
  <meta property="og:site_name" content=""/>

  <!-- Meta for Google +1 button -->
  <!-- Refer http://schema.org/docs/gs.html#microdata_itemscope_itemtype for more microdata -->
  <meta itemprop="name"     content="" />
  <meta itemprop="image"    content="" />

  <!-- Place the following lines out of the comment tag to link to your Google Plus Page and change the PageID -->
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
  <link href="https://plus.google.com/123456789012345678901" rel="publisher" />

  {% block head-css %}
  <link rel="stylesheet" href="{{STATIC_URL}}airports/css/custom-theme/jquery-ui-1.10.0.custom.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  {% endblock head-css %}
  {% block head-extra-css %}{% endblock %}

{% endblock head %}
</head>

<body class="{% block body-class %}{% endblock %}">
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Airport Distance Calculator</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Dashboard</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container-fluid">
    {% block body %}
      <h1>Django skeleton template</h1>
      <p class="lead">Use this as a way to quickly start any new project.<br> You need to update body tag for there to be anything here.</p>
    {% endblock %}
    <footer class="clearfix"></footer>
  </div>

  {% block head-js %}
  <script type="text/javascript">
  var _MEDIA_URL = "{{MEDIA_URL}}",
      _STATIC_URL = "{{STATIC_URL}}",
      _USER_ID = parseInt("{% if request.user.id %}{{request.user.id}}{% else %}-1{% endif %}"),
      _USER_NAME = "{{request.user.username}}";
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  {% endblock head-js %}
  {% block head-extra-js %}{% endblock %}
</body>
</html>