{% extends 'base/base.html' %}
{% load compress %}
{% block body %}
<div class="container ">
    <div class="row">
        <div class="col-md-12">
            <h1>Airport distance calculator</h1>
            <p class="lead">This app calculates the distance (in nautical miles) between two airports.</p>
            <p class="lead">Search by Name, City, or FAA Code of the airport</p>
        </div>
    </div>
    <div class="row inputs">
        <div class="col-md-5 col-sm-12 text-center">
            <div class="text-left text-muted"> From </div>
            <input id="from_airport" type="text" class="form-control from"
                    placeholder="(e.g. JFK or New York)"
                    data-autocomplete-url="{% url 'search-airports' %}">
        </div>
        <div class="col-md-5 col-sm-12 text-center">
            <div class="text-left text-muted"> To </div>
            <input id="to_airport" type="text" class="form-control to"
                    placeholder="(e.g. DEN or Denver)"
                    data-autocomplete-url="{% url 'search-airports' %}">
        </div>
        <div class="col-md-2 col-sm-12">
            <form id="get_dist_form" action="{% url 'get-distance' %}" method="POST">
                {% csrf_token %}
                <div>
                    <span>&nbsp;</span>
                    <input type="hidden" name="lat1" id="id_lat1">
                    <input type="hidden" name="lon1" id="id_lon1">
                    <input type="hidden" name="lat2" id="id_lat2">
                    <input type="hidden" name="lon2" id="id_lon2">
                </div>
            </form>
            <input id="calculate_distance" type="submit" value="Submit" class="btn btn-default btn-primary">
        </div>
    </div>
    <div class="row hidden message" style="margin:10px 0 30px 0">
        <p class="well">
            The distance from 
            <span id="from_label"></span> to <span id="to_label"></span>
            is <span id="distance_label"></span> nautical miles.
        </p>
        <div id="map" style="height:400px;"></div>
    </div>
</div>
{% endblock %}

{% block head-extra-js %}
{% compress js %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAISSDBXL4XzolyXygayaP4hGZXA_U4ny8&libraries=geometry"></script>
<script src="{{STATIC_URL}}airports/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="{{STATIC_URL}}airports/js/app.js"></script>
<script src="{{STATIC_URL}}airports/js/map.js"></script>
{% endcompress %}
{% endblock %}